Source: mkos-overostorm
Section: devel
Priority: extra
Maintainer: Bill Gatliff <bgat@billgatliff.com>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.4
Vcs-Git: https://github.com/bgat/mkos-overostorm.git
Vcs-Browser: https://github.com/bgat/mkos-overostorm.git

Package: mkos-overostorm
Architecture: all
Depends: multistrap, util-linux, guestfish, bc, ${misc:Depends}
Description: Composes filesystem images for Gumstix Overo Storm
 Composes a filesystem image for Gumstix Overo Storm.
